/********** UNVIVERSAL STLYES **********/

:root {
	--main-clr: #fff;
	--secondary-clr: #f3eee9;

	--main-txt: #000;
	--secondary-txt: #4b4b4b;

	--accent1: #950952;
	--accent2: #e46c1c;

	--theme-border: #000;
	--link-decoration: var(--accent1);
}

* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	font-family: 'Roboto Mono', monospace;
	color: var(--main-txt);
}

h1 {
	font-size: 2em;
}

.heading {
	display: flex;
	justify-content: center;
}

h2 {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

h2 span {
	color: var(--accent1);
	margin: 0 5px;
}

/* .cursor {
	background-color: #000;
	width: 3px;
	height: 30px;
	margin-left: 5px;
	animation: blink 0.5s linear infinite alternate;
} */

/* @keyframes blink {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
} */

h3 {
	font-size: 1.25em;
}

p {
	color: var(--secondary-txt);
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: var(--secondary-txt);
}

ul {
	list-style-type: none;
}

section {
	padding: 2rem 0rem 2rem 0rem;
	width: 70%;
	margin: 0 auto;
}

hr {
	width: 40%;
	height: 2px;
	margin: 0 auto;
	background-color: var(--accent2);
	border: none;
}

/********** HEADER **********/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 75px;
	background-color: var(--accent2);
}

#theme-options {
	display: flex;
	padding: 10px 20px;
}

.theme {
	width: 30px;
	height: 30px;
	border: 1px solid var(--theme-border);
	border-radius: 50%;
	margin: 5px;
	cursor: pointer;
	-webkit-box-shadow: 3px 3px 3px 0px #504e4e;
	box-shadow: 3px 3px 3px 0px #504e4e;
}

.theme:hover {
	border-width: 3px;
}

#light {
	background-color: #fff;
}

#blue {
	background-color: #001744;
}

#plum {
	background-color: #950952;
}

nav {
	padding: 10px;
}

#nav-links li {
	display: inline-block;
	margin: 0 10px;
	font-size: 1.25em;
}

#nav-links a {
	font-family: 'Roboto Mono', monospace;
}

#nav-links a::before,
#nav-links a::after {
	color: var(--link-decoration);
	display: none;
	font-weight: bold;
}

#nav-links a::before {
	content: '<';
}

#nav-links a::after {
	content: '/>';
}

#nav-links a:hover {
	font-style: italic;
	-webkit-text-shadow: 5px 5px 5px var(--main-clr);
	text-shadow: 5px 5px 5px var(--main-clr);
}

#nav-links a:hover::before,
#nav-links a:hover::after {
	display: inline;
}

#nav-toggle {
	padding: 0.5em;
	background: transparent;
	border: 0;
	cursor: pointer;
	display: none;
}

#hamburger {
	display: none;
	position: relative;
}

#hamburger,
#hamburger::before,
#hamburger::after {
	width: 3em;
	height: 5px;
	border-radius: 1em;
	background-color: var(--secondary-txt);
}

#hamburger::before,
#hamburger::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
}

#hamburger::before {
	top: 10px;
}

#hamburger::after {
	bottom: 10px;
}

/********** INTRODUCTION  **********/

#welcome-wrapper {
	padding: 5rem 0em;
	background-color: #e46c1c;
	background: url(/resources/images/code.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: calc(100vh - 230px);
	display: flex;
	align-items: center;
}

#greeting-wrapper {
	display: grid;
	grid-template-areas:
		'img greeting'
		'img role';
	align-items: center;
	background-color: var(--main-clr);
	overflow: hidden;
	width: 500px;
	margin: 0 auto;
	border-radius: 10px;
	-webkit-box-shadow: 15px 15px 10px var(--accent2);
	box-shadow: 15px 15px 10px var(--accent2);
	transform: scale(1.25);
	transition: transform ease-in 1s;
}

#greeting-wrapper:hover {
	transform: scale(1.25);
	transition: transform ease-in 1s;
}

#hero {
	width: 200px;
	height: auto;
	grid-area: img;
	z-index: 1;
}

h1 {
	grid-area: greeting;
	justify-self: center;
}

h1 > span {
	display: block;
	color: var(--accent2);
}

#greeting-wrapper > p {
	grid-area: role;
	background-color: var(--accent1);
	grid-column: 1/-1;
	text-align: right;
	padding: 10px;
	font-size: 1.25em;
	color: var(--secondary-clr);
	margin: 0;
}

/********** BIOGRAPHY STYLES **********/

#bio {
	width: 75%;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	line-height: 2;
}

/********** SKILLS STYLES **********/

#skills-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

#skills img {
	width: 100px;
	margin: 10px;
}

/********** MEDIA QUERIES *********/
@media screen and (max-width: 900px) {
	#nav-toggle,
	#hamburger {
		display: block;
		z-index: 1000;
	}

	#nav-links {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: none;
		transform: translateX(100%);
		text-align: center;
		background-color: var(--main-clr);
		border: 2px solid var(--accent2);
		margin-top: 0;
		z-index: 5;
	}

	#nav-links li {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#greeting-wrapper,
	#greeting-wrapper:hover {
		transform: scale(1);
		transition: none;
	}
}

@media screen and (max-width: 600px) {
	#welcome-wrapper {
		width: 100%;
	}

	#greeting-wrapper {
		grid-template-areas:
			'img'
			'greeting'
			'role ';
		width: 90%;
		margin: 0 auto;
	}

	#hero {
		clip-path: circle(55%);
		justify-self: center;
	}

	#greeting-wrapper > p {
		text-align: center;
	}

	#bio,
	#skills-container {
		width: 90%;
	}

	#greeting-wrapper {
		-webkit-box-shadow: 0px 15px 10px var(--accent2);
		box-shadow: 0px 15px 10px var(--accent2);
	}
}

@media screen and (max-width: 360px) {
	h1 {
		font-size: 1.65rem;
	}
}
